<% include ../partials/header %>

    <div class="container">
        <h1 class="text">Add new test to database</h1>
        <hr>
        <div class="row">
            <div class="formcontrol">
                <form action="/testmenu" method="post">
                    <div class="form-group">
                        <input class="form-control" type="text" name="name" placeholder="Test Name" required>
                    </div>
                    
                    <div class="form-group">
                        <input class="form-control" type="text" name="description" placeholder="Description" required>
                    </div>
                    
                    <div class="form-group">
                        <input class="form-control" type="text" name="type" placeholder="Type" required>
                    </div>
                    
                    <div class="form-group">
                        <input class="form-control" type="text" name="pretest" placeholder="Pretest" required>
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="text" name="delivery" placeholder="Delivery Type" required>
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="text" name="category" placeholder="Category" required>
                    </div>
                    
                    <div class="form-group">
                        <button class="btn btn-lg btn-success btn-block">Success</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <% include ../partials/footer %>